<img src="https://ga-dash.s3.amazonaws.com/production/assets/logo-9f88ae6c9c3871690e33280fcf557f33.png" style="float: left; margin: 10px;"> 
# Pandas Lab

---
Week 1 | Lab 1.10

In [4]:
import pandas as pd
import numpy as np

#### 1. Load in the SF crimes dataset:

In [13]:
data_path = "/Users/lana/Desktop/Lana-DSI/datasets/sf_crime/sf_crime_sample.csv"
df = pd.read_csv(data_path)

#### 2. Print the head

In [6]:
df.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2003-03-23 23:27:00,ARSON,ARSON OF A VEHICLE,Sunday,BAYVIEW,NONE,0 Block of HUNTERS PT EXPWY EX,-122.376945,37.733018
1,2006-03-07 06:45:00,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Tuesday,NORTHERN,NONE,0 Block of MARINA BL,-122.432952,37.805052
2,2004-03-06 03:00:00,NON-CRIMINAL,LOST PROPERTY,Saturday,SOUTHERN,NONE,800 Block of BRYANT ST,-122.403405,37.775421
3,2011-12-03 12:10:00,BURGLARY,"BURGLARY OF STORE, UNLAWFUL ENTRY",Saturday,TARAVAL,"ARREST, BOOKED",3200 Block of 20TH AV,-122.475647,37.728528
4,2003-01-10 00:15:00,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Friday,NORTHERN,NONE,POLK ST / BROADWAY ST,-122.421772,37.795946

#### 3. Print the unique categories and how many there are

In [10]:
print df.Category.unique().shape

(38,)

#### 4. Print the unique districts and how many there are

In [11]:
print df.PdDistrict.unique().shape

(10,)

#### 5. Make a DataFrame of the crime categories and the number of crimes per category

In [34]:
df.groupby('Category').Category.count()

Category
ARSON                            52
ASSAULT                        2164
BAD CHECKS                       14
BRIBERY                           8
BURGLARY                       1023
DISORDERLY CONDUCT              105
DRIVING UNDER THE INFLUENCE      75
DRUG/NARCOTIC                  1533
DRUNKENNESS                     105
EMBEZZLEMENT                     28
EXTORTION                         9
FAMILY OFFENSES                  14
FORGERY/COUNTERFEITING          281
FRAUD                           537
GAMBLING                          5
KIDNAPPING                       71
LARCENY/THEFT                  4934
LIQUOR LAWS                      51
LOITERING                        37
MISSING PERSON                  771
NON-CRIMINAL                   2601
OTHER OFFENSES                 3656
PROSTITUTION                    223
RECOVERED VEHICLE                80
ROBBERY                         630
RUNAWAY                          58
SECONDARY CODES                 283
SEX OFFENSES FORCIBLE           120
SEX OFFENSES NON FORCIBLE         2
STOLEN PROPERTY                 137
SUICIDE                          12
SUSPICIOUS OCC                  891
TREA                              1
TRESPASS                        209
VANDALISM                      1280
VEHICLE THEFT                  1506
WARRANTS                       1239
WEAPON LAWS                     255
Name: Category, dtype: int64

#### 6. Make a DataFrame of the districts and crime counts per district

In [44]:
districts = df.groupby('PdDistrict').PdDistrict.count()
districts.head()

PdDistrict
BAYVIEW      2555
CENTRAL      2424
INGLESIDE    2256
MISSION      3416
NORTHERN     3076
Name: PdDistrict, dtype: int64

#### 7. Make a DataFrame of the day of week and crime counts per day

In [41]:
days = df.groupby('DayOfWeek').DayOfWeek.count()
day_crime.head()

DayOfWeek
Friday      3883
Monday      3524
Saturday    3496
Sunday      3313
Thursday    3579
Name: DayOfWeek, dtype: int64

#### 8. Describe one of the dataframes

In [45]:
districts.describe()

count      10.000000
mean     2500.000000
std       944.070266
min      1282.000000
25%      1917.000000
50%      2380.000000
75%      2945.750000
max      4413.000000
Name: PdDistrict, dtype: float64